.nav-main{
    height: 10vh;
    width: 100vw;
   
    display: flex;
    justify-content: space-between;
    
}
.time{
    padding-left: 10px;
    padding-top: 8px;
}
.icon-pow{
    padding: 5px;
    
}
.padd{
    padding: 3px;
}
.hover{
    color: bisque;
}
.hover:hover{
    color:rgb(146, 154, 160);
    cursor: pointer;    
}