.main-files{
    height: 100vh;
    width: 100vw;
    background-color: #282828;
}
.date-time-continer{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-font{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}